extends ../../../layouts/default
include ../../../mixins/attributeField

block content
	
	.container-fluid: .content
		- 
			var items = [{ name: 'My Account', url: '/account/opportunities'}, 
			{ name: 'My opportunity', url: '/opportunity/update/summary/' + locals.opportunity.id}, 
			{ name: 'Detailed requirements', url: '/opportunity/update/' + locals.opportunity.id + '/detailedRequirements'},
			{ name: locals.attribute.label }]
		+breadcrumb(items)

		.row: .col-sm-12
			h1= locals.attribute.label 
				small  for #{locals.opportunity.title}
			hr
			.row
				.col-sm-6
					form(method='post', action='/opportunity/update/' + locals.opportunity.id + '/detailedRequirements/' + locals.attribute.id, role='create')
						input(type='hidden', name='action', value='update')
						p= locals.attribute.legend
						.form-group.padlarge
							+attributeField({ value: locals.attributeValue ? locals.attributeValue.value : '', label: locals.attribute.label, type: locals.attribute.questionType, name: 'value' })

						button(type='submit').btn.btn-block.btn-primary.btn-submit Update

				