extends ../../../layouts/default

block content
	
	.container-fluid: .content
		- 
			var items = [{ name: 'My Account', url: '/account/opportunities'}, 
			{ name: 'My opportunity', url: '/opportunity/update/summary/' + locals.opportunity.id}, { name: 'Set how long your requirements will be open for'}]
		+breadcrumb(items)

		.row: .col-sm-12
			h1 Set how long your requirements will be open for
				br
				small for #{locals.opportunity.title}
			hr
			.row
				.col-sm-6
					form(method='post', action='/opportunity/update/' + locals.opportunity.id + '/howLongOpenFor', role='create')
						input(type='hidden', name='action', value='update')
						
						each opt in locals.opportunity.configurationAtCreation.howLongOpenForOptions
							.form-group.padlarge
								.radio
									label.block-label
										input(type='radio', name='howLongOpenFor' value=opt, checked=(locals.opportunity.howLongOpenFor == opt ? "checked" : undefined)) 
										span #{opt/7} week#{opt > 7 ? '(s)' : ''}

						p.padlarge
							button(type='submit').btn.btn-block.btn-primary.btn-submit Update

				