extends ../../../layouts/default

block content
	
	.container-fluid: .content
		- 
			var items = [{ name: 'My Account', url: '/account/opportunities'}, 
			{ name: 'My opportunity', url: '/opportunity/update/summary/' + locals.opportunity.id}, { name: 'Title'}]
		+breadcrumb(items)

		.row: .col-sm-12
			h1 What do you want to call your requirements
			hr
			.row
				.col-sm-6
					form(method='post', action='/opportunity/update/' + locals.opportunity.id + '/title', role='create')
						input(type='hidden', name='action', value='update')
						p This will help you refer to your requirements when talking to suppliers.
						.form-group
							label Enter a new title
							input(type='text', value=locals.opportunity.title, name='title', required).form-control
							
						button(type='submit').btn.btn-block.btn-primary.btn-submit Update

				