extends ../../layouts/default

block content
	
	.container-fluid: .content
		- 
			var items = [{ name: 'My account', url: '/account/me'}, { name: 'My application'}]
		+breadcrumb(items)

		- var fw = locals.application.framework
		.row: .col-sm-12
			h1 Apply to #{fw.name}
			p.lead Deadline: #{moment(fw.closesForApplicationsAt).format('DD/MM/YYYY')}
			
			hr
			.row
				.col-sm-12.col-md-8
					if locals.application.declaration
						h3 
							a(href='/application/declaration/update/' + locals.application.id) Edit supplier declaration
					else
						h3 
							a(href='/application/declaration/start/' + locals.application.id) Make supplier declaration
					p Confirm eligibility, agree to the application terms and provide supplier information.

					hr

					h3 
						a(href='/application/services/' + locals.application.id) Add, edit and complete services
					p You need to add and complete services

					hr

					br
					h3 Guidance
					p
						a() Read about how to apply

					hr

					h2 Legal documents
					h3 Communications
					p View communications and clarification questions

					
