extends ../layouts/default

block content

	.container-fluid: .content
		- 
			var items = [{ name: 'Service catalogue', url: '/catalogue'}]
			if (locals.category)
				items.push({ name: locals.category.name})
		+breadcrumb(items)

		.row
			.col-sm-12
				h1 Service catalogue
				if locals.category
					h2= locals.category.name

		.row
			each cat in locals.categories
				.col-sm-6
					.well.well-lg
						if locals.childCategories[cat.id].length > 0
							a(href='/catalogue/' + cat.id) 
								h3= cat.name
						else
							a(href='/catalogue/search/' + cat.id) 
								h3= cat.name
						p!= cat.description.html
