
#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.breadcrumb {
	background-color: #fff;
	padding: 8px 0;
	margin-top: 20px;
}

.padlarge {
	margin-top: 20px;
}
