
ul.nav.nav-pills.nav-stacked
	li 
		a() Account settings
	li
		em Buying options
	li 
		a() Saved searches
	li 
		a(href='/account/opportunities') Opportunities
	li
		em Selling options
	li 
		a() Opportunites I have applied for
	li 
		a(href='/account/applications') Framework applications
	li 
		a() My Services on the DM
