extends ../../layouts/default

block content
	
	.container-fluid: .content
		+breadcrumb([{ name: 'My account'},])
			
		.row
			.col-sm-4: .well.well-lg
				include _nav.pug
		
			.col-sm-8
				h1 Hello #{user.name.first} !
				p Dashboard and menu specific items here
