extends ../../../../layouts/default
include ../../../../mixins/attributeField

block content
	
	.container-fluid: .content
		- 
			var application = locals.product.application;
			var items = [{ name: 'My account', url: '/account/me'}, { name: 'My application', url: '/application/summary/' + application.id}
			, { name: 'Your ' + application.framework.name + ' services', url: '/application/services/' + application.id }];
			if (locals.product.productType.canAddMoreThanOneServiceOnApplication) {
				items.push({ name: locals.product.productType.name, url: '/application/services/' + application.id + '/' + locals.product.productType.id });
			}
			items.push({ name: locals.product.name, url: '/application/services/' + application.id + '/service/' + locals.product.id });
			items.push({ name: 'Service name' })
		+breadcrumb(items)

		.row: .col-sm-12
			h1 Service name
			hr
			.row
				.col-sm-6
					form(method='post', action='/application/services/' + application.id + '/service/' + locals.product.id + '/basics/name', role='create')
						input(type='hidden', name='action', value='update')
						p What’s your service called?
						p Include your service name only. Don’t use extra keywords.
						.form-group.padlarge
							label Enter a new title
							input(type='text', value=locals.product.name, name='name', required).form-control
						p
							button(type='submit').btn.btn-primary.btn-submit Update

				